{% extends "project/base.html" %}

{% load static %}

{% block title %} Manager {% endblock title %}

{% block content %}
<div class="container p-4 mx-auto my-4">
    <h1 class="text-center mb-4 text-primary">Ventas del Día</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Platillo</th>
            <th scope="col">Vendidos</th>
            <th scope="col">Vender</th>
          </tr>
        </thead>
        <tbody>
            {% for item in menu.menu_items.all %}
            <tr class="{% if item.remaining_stock == 0 %}table-secondary{% endif %}">
                <td>{{ item.dish.name }}</td>
                <td>{{ item.sold }} de {{ item.stock }}</td>
                <td>
                  <!-- TODO: Disable when there are no more stock -->
                  <div class="d-flex align-items-center">
                    <form action="{% url "manager:update_sold_dishes" pk=item.id %}" method="post">
                      <input type="number" name="sold" 
                      min="0" 
                      max={{ item.remaining_stock }} 
                      value="{% if item.remaining_stock > 0 %}1{% else %}0{% endif %}" 
                      class="me-1 px-2"
                      style="max-width: 60px;"
                      />
                      {% csrf_token %}
                      <button type="submit" class="btn btn-sm btn-outline-primary mb-0" title="Save"><i class="fa-solid fa-floppy-disk"></i></button>
                    </form>
                  </div>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}