<div class="container pt-5">
  <h2 class="text-center text-primary my-5 fs-1">Ponte en contacto</h2>
  <!-- About Start -->
  <div class="row justify-content-center">
    <!-- About Item Start -->
    <div class="col-md-4 mb-4 mb-md-0 text-center">
      <div
        class="d-flex align-items-center justify-content-center mb-2 text-primary"
      >
        <i class="fa-solid fa-phone-volume me-2"></i>
        <h5 class="mb-0">Whatsapp</h5>
      </div>
      <p class="text-muted">988 142 414</p>
    </div>
    <!-- About Item End -->

    <!-- About Item Start -->
    <div class="col-md-4 mb-md-1 mb-md-0 text-center">
      <div
        class="d-flex align-items-center justify-content-center mb-2 text-primary"
      >
        <i class="fa-solid fa-location-dot me-2"></i>
        <h5 class="mb-0">Dirección</h5>
      </div>
      <p class="text-muted">
        Urb. J. L. Bustamante y Rivero Mz. 2h Lt. 3 Sect. 6
      </p>
    </div>
    <!-- About Item End -->
  </div>
  <!-- About End -->
</div>
