{% extends "project/base.html" %}

{% block title %} Iniciar Sesión {% endblock title %}

{% block content %}
<div class="container py-3">
    <div class="card mb-3 mx-auto" style="max-width: 50rem;">
      <div class="card-body p-4 p-md-5">
        <h5 class="card-title text-center fs-2 mb-4 text-primary">Iniciar Sesión</h5>
        <form action="" method="post">
            {% csrf_token %}

            {% for field in form %}
                {{ field }} <!-- Field -->

                <!-- Field Errors -->
                {% if field.errors %}
                <p class="text-danger">{{ field.errors|join:", "}}</p>
                {% endif %}
            {% endfor %}

            <!-- TODO: Check utility of this partial -->
            <!-- Form-wide errors Start -->
            {% include "project/partials/form_errors.html" %}
            <!-- Form-wide errors End -->

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-primary mt-3 mx-auto">Iniciar Sesión</button>
            </div>
        </form>
      </div>
    </div>
</div>
{% endblock content %}