{% extends "project/base.html" %}

{% block title %}Menú del día{% endblock title %}

{% block content %}
  <div class="container py-4">
    <h1 class="text-center mb-4">Menú del Día</h1>
    {% if not dishes %}
    <p class="text-center text-muted">Todavía no se tiene el menú del día</p>
    {% else %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
      {% for dish in dishes %}
        <div class="col">
          <!-- TODO: Manage height of cards to be at the same level -->
          <div class="card shadow-sm">
            <a href="{% url "menu:dish_detail" pk=dish.id %}" style="text-decoration: none">
              <img src="{{ dish.image.url }}" class="card-img-top" alt="{{ dish.name }}">
              <div class="card-body">
                <h5 class="card-title">{{ dish.name }}</h5>
                {% if dish.description %}
                  <p class="card-text text-muted">{{ dish.description }}</p>
                {% endif %}
                <p class="card-text">
                  <small class="text-muted">S/. {{ dish.price }} - Quedan {{ dish.quantity }} platos</small>
                </p>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
{% endblock content %}