{% extends "project/base.html" %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block content %}
<div class="container p-4 mx-auto my-4">
    <div class="row align-items-stretch">
        <div class="col-12 col-sm-6 pe-md-5 d-flex flex-column justify-content-center">
            <h1 class="mb-4 text-wrap">¡Bienvenidos a "{{ business_name }}"!</h1>
            <p class="mb-5 mb-md-5 fs-5 text-wrap">Ven y disfruta de sabores que te harán sentir como en casa.</p>
            <a href="{% url "menu:dish_list" %}" class="btn btn-primary px-5">
                Ver Menú
            </a>
        </div>
        <div class="col-12 col-sm-6 mt-5 mt-md-1">
            <img src="{% static "project/img/hero.webp" %}" alt="hero" class="img-fluid h-100 object-fit-cover">
        </div>
        </div>

        {% include "project/partials/contact.html" %}
</div>
{% endblock content %}